<form action="/login" method="POST">
    <div><h1 style="text-align:center">Chatbot Authentication</h1></div>
    <div><input name="username" placeholder="Username"></input></div>
    <div><input name="password" placeholder="Password" type="password"></input></div>
    <div><input type="submit" value="Sign In" /></div>
</form>


<style>
    body{
        margin:15px;
    }
    form{
        width:350px;
        margin:auto;
    }
    input{
        width:100%;
        padding:10px;
        font-size:1rem;
        background:white;
        color: black;
        border: 1px solid black;
    }

    input[type=submit]{
        background:black;
        color:white;
    }

    div{
        margin-bottom:10px;
    }
</style>
