<div>
    <h1>CMPE 281 - Microsoft PowerBI Dashboard</h1>
</div>

<div>
    <div style="border-top:3px solid blue; marign-bottom: 20px;">
        <h2>Event Wedding Report</h2>
    </div>
    <div>
        <iframe width="1100" height="700" src="<%= POWER_BI_REPORT_URL %>" frameborder="0" allowFullScreen="true"></iframe>
    </div>
</div>



<!-- <div>
    <div style="border-top:3px solid blue;">
        <h2>Chatbot Efficiency Report</h2>
    </div>
    <div>
        <iframe width="1000" height="800" src="<%= POWER_BI_REPORT_URL %>" frameborder="0" allowFullScreen="true"></iframe>
    </div>
</div>
 -->


<style>
    h1,h2{
        text-align: center;
    }

    iframe{
        margin:auto;
    }

    h1{
        color:red;
    }

    h2{
        color:red;
        text-decoration: underline;;
    }
</style>
